@media (max-width: 600px) {
  header {
    position: relative;
  }
  header nav {
    display: none;
    position: absolute;
    margin-top: 70px;
    background-color: #15304c;
    width: 100%;
  }
  .menu-icon {
    display: block;
    color: #fff;
    font-size: 23px;
  }
}
